@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"), local("Inter Bold"), url("/static/fonts/Inter/Inter-Bold.ttf") format("truetype"), url("/static/fonts/Inter/Inter-Bold.woff2") format("woff");
  font-weight: 700; }
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Medium"), local("Inter Medium"), url("/static/fonts/Inter/Inter-Medium.ttf") format("truetype"), url("/static/fonts/Inter/Inter-Medium.woff2") format("woff");
  font-weight: 500; }
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"), local("Inter Regular"), url("/static/fonts/Inter/Inter-Regular.ttf") format("truetype"), url("/static/fonts/Inter/Inter-Regular.woff2") format("woff");
  font-weight: 400; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("/static/fonts/SF PRO/SFProDisplay-Regular.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("/static/fonts/SF PRO/SFProDisplay-Bold.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("/static/fonts/SF PRO/SFProDisplay-Medium.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("/static/fonts/SF PRO/SFProDisplay-Regular_1.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("/static/fonts/SF PRO/SFProDisplay-Bold_1.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("/static/fonts/SF PRO/SFProDisplay-Medium_1.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("/static/fonts/SF PRO/SFProDisplay-Semibold.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
html {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

h1 {
  font-size: 36px;
  font-weight: 700; }

input[type]:not(input[type='submit']) {
  border: none;
  border-bottom: 1.5px solid #2D66EE;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 17px;
  color: #101828; }
input[type='submit'] {
  background: #2D66EE;
  border-radius: 8px;
  color: white;
  font-family: "SF Pro Display";
  font-weight: 500;
  letter-spacing: -0.154px;
  font-size: 14px;
  padding: 11px 24px;
  border: none;
  cursor: pointer; }

button {
  background: #2D66EE;
  border-radius: 8px;
  color: white;
  font-family: "SF Pro Display";
  font-weight: 500;
  letter-spacing: -0.154px;
  font-size: 14px;
  padding: 11px 24px;
  border: none;
  cursor: pointer; }

label {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #667085;
  padding-bottom: 8px; }

.active {
  box-shadow: inset 0 -2px 0 0 #2D66EE;
  cursor: pointer;
  font-weight: 500; }

a {
  text-decoration: none;
  color: inherit; }

.darkgray {
  color: #1D2939; }

.content-paragraph {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #101828; }

.white {
  color: #FFFFFF; }

@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Bold"), local("Inter Bold"), url("/static/fonts/Inter/Inter-Bold.ttf") format("truetype"), url("/static/fonts/Inter/Inter-Bold.woff2") format("woff");
  font-weight: 700; }
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Medium"), local("Inter Medium"), url("/static/fonts/Inter/Inter-Medium.ttf") format("truetype"), url("/static/fonts/Inter/Inter-Medium.woff2") format("woff");
  font-weight: 500; }
@font-face {
  font-family: "Inter";
  src: local("Inter"), local("Inter-Regular"), local("Inter Regular"), url("/static/fonts/Inter/Inter-Regular.ttf") format("truetype"), url("/static/fonts/Inter/Inter-Regular.woff2") format("woff");
  font-weight: 400; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("/static/fonts/SF PRO/SFProDisplay-Regular.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("/static/fonts/SF PRO/SFProDisplay-Bold.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("/static/fonts/SF PRO/SFProDisplay-Medium.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("/static/fonts/SF PRO/SFProDisplay-Regular_1.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Regular_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("/static/fonts/SF PRO/SFProDisplay-Bold_1.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("/static/fonts/SF PRO/SFProDisplay-Medium_1.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("/static/fonts/SF PRO/SFProDisplay-Semibold.woff2") format("woff2"), url("/static/fonts/SF PRO/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
.bold {
  font-family: "Inter", sans-serif;
  font-weight: 700; }

.medium {
  font-family: "Inter", sans-serif;
  font-weight: 500; }

html {
  height: 100%;
  display: flex;
  flex-direction: column; }

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F2F4F7;
  width: 100%;
  overflow-x: hidden; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 108px; }

.section-content {
  display: flex;
  flex-direction: column; }

.page__header {
  top: 24px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  display: flex;
  position: fixed;
  padding: 19px 24px;
  justify-content: space-between;
  align-items: center;
  width: 1124px;
  z-index: 999; }

.header-title {
  font-size: 20px;
  font-weight: 700;
  color: #2D66EE; }

.nav__menu {
  list-style-type: none;
  display: flex;
  column-gap: 24px; }

.menu-link {
  color: #101828; }

.menu__element:hover .menu-link {
  color: #2D66EE;
  transition: ease-in-out 0.2s; }

/*.intro-section .wrapper{ */
/*    background: url("/src/assets/img/intro background.png") no-repeat right; */
/*    !*background-position-x: 600px;*! */
/*    !*background-position-y: -650px;*! */
/*} */
/*background-position-x: 600px; */
/*background-position-y: -650px; */
.moving-background {
  content: "";
  position: absolute;
  width: 900px;
  height: 1400px;
  z-index: -1;
  display: flex;
  left: 55%;
  top: -79px;
  /*background-image: url("/src/assets/img/intro background.png") ; */
  transform: rotate(-12deg);
  overflow: hidden; }

.left-column {
  content: "";
  margin: 0;
  width: 550px;
  height: 3960px;
  background-image: url("/src/assets/img/column-left.webp");
  background-repeat: repeat-y;
  z-index: -1;
  animation: moveBack 17s infinite linear;
  position: relative;
  background-size: 100%;
  overflow: hidden; }

@keyframes move {
  0% {
    transform: translateY(-2000px); }
  100% {
    transform: translateY(0px); } }
.right-column {
  content: "";
  width: 350px;
  height: 3960px;
  right: 80px;
  background-image: url("/src/assets/img/column-right.webp");
  background-size: 350px;
  z-index: -1;
  animation: move 17s infinite linear;
  position: relative;
  background-repeat: repeat-y;
  overflow: hidden; }

@keyframes moveBack {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-2000px); } }
.burger-menu {
  display: none; }

.main-content {
  flex: 1 0 auto; }

.intro-content {
  padding-top: 160px;
  padding-bottom: 270px;
  width: inherit; }

.intro-heading {
  padding-bottom: 24px; }

.section-heading {
  font-size: 36px;
  color: #101828; }

.paragraph {
  font-size: 17px;
  font-family: "SF Pro Display";
  font-weight: 500;
  color: #101828; }

.blue {
  color: #2D66EE; }

.header-contacts {
  display: flex;
  padding-left: 84px;
  column-gap: 24px; }

.mail-container, .phones-container {
  display: flex;
  column-gap: 13px; }

.link {
  text-decoration: none; }

.intro-content__text {
  width: 640px; }

.intro-paragraph {
  padding-bottom: 64px; }

.form-container {
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 24px;
  width: max-content; }

.contact-form {
  padding-top: 34px;
  display: flex; }

.form-element {
  display: flex;
  flex-direction: column;
  width: 224px;
  padding-right: 24px; }

.form-heading {
  font-size: 20px;
  font-weight: 700;
  width: 600px;
  word-wrap: break-word; }

.dev-section {
  background-color: white; }

.development-content {
  display: grid;
  grid-auto-flow: column;
  padding-top: 32px;
  align-content: baseline;
  padding-bottom: 80px; }

.development-content__links {
  list-style-type: none; }
  .development-content__links li {
    padding: 12px 0;
    line-height: 24px;
    border-bottom: transparent 1px solid; }
    .development-content__links li a {
      text-decoration: none;
      color: #1D2939;
      font-family: var(--SFPro);
      font-size: 20px;
      font-weight: 400;
      transition: font-weight 0.003s; }
    .development-content__links li:hover a {
      border-bottom: #2D66EE 1px solid;
      font-weight: bold; }
    .development-content__links li a:after {
      content: url("/src/assets/icons/chevron.svg");
      padding-left: 21px; }
    .development-content__links li a:before {
      height: 0;
      display: block;
      overflow: hidden;
      visibility: hidden;
      content: attr(title);
      font-weight: bold; }

.technology-heading {
  font-size: 20px;
  font-weight: 600;
  color: #101828; }

.technology__description {
  width: 465px; }

.thin-paragraph {
  font-size: 17px;
  font-weight: 400;
  color: #1D2939;
  line-height: 22px; }

.industries-list {
  padding-top: 28px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 0.31fr);
  justify-items: left;
  row-gap: 15px; }

.industry-element {
  display: flex;
  align-items: center;
  column-gap: 16px; }

.development-content__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.section-content {
  padding-top: 40px; }

.industry-icon {
  width: 44px;
  height: 44px; }

.industry-element p {
  display: inline-block; }

.tabs {
  padding-top: 70px;
  list-style-type: none;
  display: flex;
  column-gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.projects-portfolio p {
  width: 600px;
  padding-top: 24px; }

.technology__description h4 {
  padding-bottom: 12px; }

#tab-1:checked ~ #i-teka,
#tab-2:checked ~ #Dauletten,
#tab-3:checked ~ #guru,
#tab-4:checked ~ #santo,
#tab-5:checked ~ #home_bank,
#tab-6:checked ~ #bi_partners,
#tab-7:checked ~ #europharma {
  display: block; }

.tabs div[id] {
  display: none; }

.tabs input[type=radio] {
  display: none; }

.tabs label {
  font-size: 17px;
  display: inline-block;
  padding: 0; }

.tabs label:hover {
  cursor: pointer;
  font-weight: bolder;
  box-shadow: inset 0 -2px 0 0 #2D66EE; }

.tabs label:before {
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  content: attr(title);
  font-weight: bold; }

.tabs [id^="tab"]:checked + label {
  cursor: default;
  font-weight: bolder;
  box-shadow: inset 0 -2px 0 0 #2D66EE; }

.break {
  flex-basis: 100%;
  height: 0; }

.tabs button {
  margin-left: calc(10% + 55px); }

.tab-content p {
  padding: 0; }

.tab-content {
  width: 100%; }

.tab-content .section-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px; }

.project-info {
  display: flex;
  column-gap: 34px; }

.project-location, .project-specialization {
  column-gap: 12px;
  display: inline-flex;
  align-items: center; }

.project-location:before, .project-specialization:before {
  width: 20px;
  height: 20px; }

.project-location:before {
  content: url("../../../assets/icons/location.svg"); }

.project-specialization:before {
  content: url("../../../assets/icons/specialization.svg"); }

.tab-wrapper {
  display: flex;
  justify-content: space-between; }

.tab-background {
  object-fit: contain;
  z-index: -1;
  height: auto; }

.content-paragraph {
  width: 500px; }

.download_sources {
  display: flex;
  column-gap: 17px; }

.download_sources a {
  display: block; }

.amount {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 144%;
  letter-spacing: 0.326451px;
  color: #101828;
  display: inline-block; }

.caption {
  color: #667085;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  width: min-content; }

.project-stat {
  width: 100%;
  display: flex;
  column-gap: 50px; }

.project-stat p {
  width: auto; }

.header-section a {
  font-weight: 500; }

.stages-section {
  background-color: #FFFFFF; }

.development-stages {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }

.development-stage {
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  width: 392px;
  height: 192px;
  padding: 24px; }

.footer-content {
  background: #101828;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 40px; }

.footer-section .wrapper {
  max-width: 100%; }

.page-footer__heading {
  color: white;
  text-align: center; }

/*padding-bottom: 42px; */
.footer-contacts {
  /*padding-bottom: 40px; */
  display: flex;
  justify-content: space-evenly; }

.contacts-element {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: flex-end; }

.contact-container {
  display: flex;
  align-items: center;
  font-family: var(--SFPro);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.154px;
  color: #98A2B3;
  column-gap: 10px; }

.contact-text {
  font-family: var(--SFPro);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px; }

.footer-text {
  font-family: "SF Pro Display";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left; }

.footer-conclusion {
  margin: 0 auto;
  vertical-align: center; }

.discuss-section {
  background: #2d66ff url("../../../assets/img/Noise.png");
  height: 390px; }

.discuss-section .wrapper {
  background: url("../../../assets/img/forms-bg.png") no-repeat center;
  height: 390px; }

.section-form p, .section-form .section-heading {
  color: #FFFFFF; }

.discuss-form {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr); }

#discuss-submit {
  justify-self: right;
  grid-column: span 2;
  margin-top: 35px; }

.discuss-section__text {
  width: 600px; }

.discuss-section__text .paragraph {
  width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px; }

.discuss-section__content {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px; }

.discuss-section__text .section-heading {
  padding-bottom: 24px; }

@media screen and (max-width: 768px) {
  .page__header {
    top: 20px;
    right: 0;
    left: 0;
    justify-content: space-between;
    margin-left: 0;
    width: 100%; }

  .burger-menu {
    display: block; }

  .header-title {
    padding-left: 5em;
    white-space: nowrap;
    padding-right: 0;
    justify-self: center; }

  .nav__menu, .phones-container {
    display: none; }

  .header-contacts {
    padding-left: 0; }

  .wrapper {
    max-width: 768px;
    padding: 0 32px; }

  .moving-background {
    width: 580px;
    left: 60%; }

  .right-column {
    width: 275px;
    background-size: 167px; }

  .left-column {
    width: 368px;
    background-size: 290px; }

  .intro-content {
    padding: 0;
    width: 383px; }
    .intro-content > * {
      width: 383px; }

  .form-heading {
    font-size: 16px;
    width: auto; }

  .contact-form {
    display: block; }
    .contact-form > * {
      padding-bottom: 32px; }

  label {
    padding-bottom: 0; }

  .intro-heading {
    font-size: 28px; }

  .intro-content__text {
    padding-top: 160px;
    width: inherit; }

  .footer-section {
    padding: 0;
    background-color: #F5F5F5; }

  .section-heading {
    font-size: 28px; }

  .development-content {
    column-gap: 0;
    justify-content: space-between; }

  .technology-paragraph {
    font-size: 14px; }

  .technology__description {
    width: 277px; }

  .development-content__links {
    padding-right: 100px; }

  .section-content {
    padding-top: 45px; }

  .industries-list {
    grid-template-columns: repeat(2, 380px); }

  .tab-background {
    position: absolute;
    width: 370px;
    bottom: 35px;
    right: -10px; }

  .tabs {
    column-gap: 26px;
    row-gap: 16px;
    position: relative;
    padding-top: 42px; }

  .tabs label {
    font-size: 14px; }

  .break {
    display: none; }

  .tabs button {
    margin-left: auto;
    position: absolute;
    top: 120px;
    right: 22px; }

  .paragraph {
    font-size: 14px; }

  .amount, .active-users {
    font-size: 20px; }

  .project-specialization, .project-location {
    font-size: 14px; }

  .projects-portfolio .paragraph, .projects-portfolio .content-paragraph {
    width: 460px; }

  .discuss-section__content {
    flex-direction: column;
    align-items: flex-start; } }
@media screen and (max-width: 425px) {
  .wrapper {
    max-width: 425px;
    padding: 0 10px; }

  .mail-container {
    display: none; }

  .section-content {
    padding-top: 32px; }

  .page__header {
    justify-content: flex-start; }

  .header-title {
    margin: 0 auto; }

  .moving-background {
    left: 25%;
    top: 40%; }

  .moving-background {
    width: 580px; }

  .right-column {
    width: 275px;
    background-size: 167px;
    animation: none; }

  .left-column {
    width: 368px;
    background-size: 290px;
    animation: none; }

  .intro-paragraph {
    padding: 0; }

  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 1193px;
    padding-bottom: 33px; }

  .intro-content__text {
    padding-top: 120px; }

  .form-container {
    margin-top: auto; }

  .development-content {
    display: flex;
    flex-direction: column;
    row-gap: 32px; }

  .development-content__text {
    row-gap: inherit; }

  .projects-portfolio .paragraph, .projects-portfolio .content-paragraph {
    width: 340px; }

  .tab-wrapper {
    flex-direction: column; }

  .tab-background {
    position: static;
    width: 370px;
    order: -1; }

  .tabs button {
    position: static;
    order: 6;
    margin: 0 auto;
    padding: 11px 50px; }

  .tabs {
    padding-top: 32px; }

  .footer-contacts {
    flex-wrap: wrap;
    row-gap: 15px; }

  .industries-list {
    grid-template-columns: repeat(2, 1fr); }

  .discuss-section__content {
    flex-wrap: nowrap; }

  .discuss-section, .discuss-section .wrapper {
    height: auto; }

  .discuss-section__content .discuss-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start; }

  .discuss-section__content .form-container {
    width: 100%;
    margin-top: 128px;
    padding: 36px 20px; }

  .discuss-form .form-element {
    width: 100%;
    padding-bottom: 40px; }

  #discuss-submit {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
