@import "global.sass"
@import "fonts.sass"
@import "utils.sass"


$blue:#2D66EE
$darkgray:#101828
$gray:#1D2939
$SFPro:'SF Pro Display'

html
  height: 100%
  display: flex
  flex-direction: column

body
  height: 100%
  display: flex
  flex-direction: column
  background: #F2F4F7
  width: 100%
  overflow-x: hidden


.wrapper
  margin: 0 auto
  width: 100%
  max-width: 1440px
  padding-left: 108px

.page__header
  top: 24px
  background-color: white
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08)
  border-radius: 12px
  display: flex
  position: fixed
  padding: 19px 24px
  justify-content: space-between
  align-items: center
  width: 1124px

.header-title
  font-size: 20px
  font-weight: 700
  color: $blue
  //padding-right: 80px

.nav__menu
  list-style-type: none
  display: flex
  column-gap: 24px

.menu-link
  color: $darkgray

.menu__element:hover .menu-link
  color: $blue
  transition: ease-in-out .2s

/*.intro-section .wrapper{
/*    background: url("/src/assets/img/intro background.png") no-repeat right;
/*    !*background-position-x: 600px;*!
/*    !*background-position-y: -650px;*!
/*}

.intro-section
/*background-position-x: 600px;
/*background-position-y: -650px;

.moving-background
  content: ''
  position: absolute
  width: 900px
  height: 1400px
  z-index: -1
  display: flex
  left: 50%
  top: -79px

  /*background-image: url("/src/assets/img/intro background.png") ;
  transform: rotate(-12deg)
  overflow: hidden

.left-column
  content: ''
  margin: 0

  width: 550px
  height: 3960px
  background-image: url("/src/assets/img/column-left.webp")
  background-repeat: repeat-y
  z-index: -1
  animation: moveBack 17s infinite linear
  position: relative
  background-size: 100%

@keyframes move
  0%
    transform: translateY(-2000px)

  100%
    transform: translateY(0px)

.right-column
  content: ''
  width: 350px
  height: 3960px
  right: 80px
  background-image: url("/src/assets/img/column-right.webp")
  background-size: 350px
  z-index: -1
  animation: move 17s infinite linear
  position: relative
  background-repeat: repeat-y
  overflow: hidden


@keyframes moveBack
  0%
    transform: translateY(0px)

  100%
    transform: translateY(-2000px)

.burger-menu
  display: none

.main-content
  flex: 1 0 auto

.intro-content
  padding-top: 160px
  padding-bottom: 270px
  width: inherit

.intro-heading
  padding-bottom: 24px

.section-heading
  font-size: 36px
  color: $darkgray

.paragraph
  font-family: $SFPro
  font-weight: 500
  color: $darkgray

.blue
  color: $blue

.header-contacts
  display: flex
  padding-left: 84px
  column-gap: 24px

.mail-container, .phones-container
  display: flex
  column-gap: 13px

.link
  text-decoration: none
  text-decoration: none

.intro-content__text
  width: 640px

.intro-paragraph
  padding-bottom: 64px

.form-container
  background: #FFFFFF
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16)
  border-radius: 12px
  padding: 24px
  width: max-content

.contact-form
  padding-top: 34px
  display: flex

.form-element
  display: flex
  flex-direction: column
  width: 224px
  padding-right: 24px

.form-heading
  font-size: 20px
  font-weight: 700
  width: 600px
  word-wrap: break-word

.dev-section
  background-color: white

.development-content
  display: flex
  column-gap: 232px
  padding-top: 32px
  align-content: baseline
  padding-bottom: 80px

.development-content__links
  list-style-type: none

  li
    a
      text-decoration: none
      color: $gray
      font-family: var(--SFPro)
      font-size: 20px
      font-weight: 400
      transition: font-weight .003s

    padding: 12px 0
    line-height: 24px
    border-bottom: transparent 1px solid

    &:hover a
      border-bottom: $blue 1px solid
      font-weight: bold

    a
      &:after
        content: url("/src/assets/icons/chevron.svg")
        padding-left: 21px

      &:before
        height: 0
        display: block
        overflow: hidden
        visibility: hidden
        content: attr(title)
        font-weight: bold

.technology-heading
  font-size: 20px
  font-weight: 600
  color: $darkgray

.technology__description
  width: 465px

.technology-paragraph
  font-size: 17px
  font-weight: 400
  color: $gray
  line-height: 22px

.development-content__text
  display: flex
  flex-direction: column
  justify-content: space-between

.technology__description h4
  padding-bottom: 12px

.footer-content
  background: $darkgray
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08)
  border-radius: 12px
  padding: 24px
  color: white
  display: flex
  flex-direction: column
  row-gap: 40px

.footer-section .wrapper
  max-width: 100%
  padding: 0 6em

.page-footer__heading
  color: white
  text-align: center

/*padding-bottom: 42px;

.footer-contacts
  /*padding-bottom: 40px;
  display: flex
  justify-content: space-evenly

.contacts-element
  display: flex
  flex-direction: column
  row-gap: 10px
  justify-content: flex-end

.contact-container
  display: flex
  align-items: center
  font-family: var(--SFPro)
  font-style: normal
  font-weight: 500
  font-size: 14px
  line-height: 18px
  letter-spacing: -0.154px
  color: #98A2B3
  column-gap: 10px

.contact-text
  font-family: var(--SFPro)
  font-style: normal
  font-weight: 600
  font-size: 17px
  line-height: 22px
  letter-spacing: -0.408px

.footer-text
  font-family: $SFPro
  font-size: 13px
  font-weight: 400
  line-height: 16px
  text-align: left

.footer-conclusion
  margin: 0 auto
  vertical-align: center

@media screen and (max-width: 768px)
  .page__header
    top: 20px
    right: 0
    left: 0
    justify-content: space-between
    margin-left: 0
    width: 100%

  .burger-menu
    display: block

  .header-title
    padding-left: 5em
    white-space: nowrap
    padding-right: 0
    justify-self: center

  .nav__menu, .phones-container
    display: none

  .header-contacts
    padding-left: 0

  .wrapper
    max-width: 768px
    padding-left: 32px

  .moving-background
    width: 580px
    left: 60%
  .right-column
    width: 275px
    background-size: 167px
  .left-column
    width: 368px
    background-size: 290px
  .intro-content
    padding: 0
    width: 383px
    > *
      width: 383px

  .form-heading
    font-size: 16px
    width: auto

  .contact-form
    display: block

    > *
      padding-bottom: 32px

  label
    padding-bottom: 0

  .intro-heading
    font-size: 28px

  .intro-content__text
    padding-top: 160px
    width: inherit

  .footer-section
    padding: 0
    background-color: #F5F5F5

    .wrapper
      padding: 0 10px

  .section-heading
    font-size: 28px

  .development-content
    column-gap: 0
    justify-content: space-between

  .technology-paragraph
    font-size: 14px

  .technology__description
    width: 277px

  .development-content__links
    padding-right: 100px

@media screen and (max-width: 425px)
  .mail-container
    display: none

  .page__header
    justify-content: flex-start

  .header-title
    margin: 0 auto

  .moving-background

    left: 25%
    top: 40%
  .moving-background
    width: 580px

  .right-column
    width: 275px
    background-size: 167px
    animation: none
  .left-column
    width: 368px
    background-size: 290px
    animation: none
  .intro-paragraph
    padding: 0

  .intro-content
    display: flex
    flex-direction: column
    align-items: flex-end
    height: 1193px
    padding-bottom: 33px

  .intro-content__text
    padding-top: 120px

  .form-container
    margin-top: auto

  .development-content
    flex-direction: column
    row-gap: 32px

  .development-content__text
    row-gap: inherit

